:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvatica, sans-serif;
}

header {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: #fff;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
section,
article,
p {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
}

h2 {
    position: absolute;
    top: 113%;
    width: 800px;
    padding: 10px;
    border: 10px;
    margin: 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
}