.callout {
            max-width: 400px;
            margin: 0px;
            border: 1px solid aqua;
            padding: 15px;
            background-color: grey;
            color:black
}

.callout img {
            float: right;
            margin: 0px 0px 10px 15px;
            border: 1px solid black;
            padding: 3px;
            background-color: white;
            width: 100px;
            height: auto;
}

blockquote {
            margin: 0%
}

cite {
        display: block;
        border-bottom: 1px solid white;
        text-align: right;
        font-style: italic;
}